body {background-color: white right top} /100% 0%/
div {padding: 30px;}
h1{background-color: #FCFDFF}
p{font-size: 15;
float: right;
}

article {background-image: url(lap4bild/bakgrund2.JPG);
	
	color: black;
  float: left;
  font-size: 19;
}
.btn {color: darkblue;}
h3 {
  font-size: 25

}


        div {
            border: 30px;
            background-color: 
        }
        img {
            width: 500px;
            float: left;
        }
        head{background-color: white}
        
        footer
        {
          background-color: white;
          color:darkblue;
          padding: 30px;

        }
