nav {background-color: lightblue;
}
nav {color: #E0FFFF
}
body {background-color: #ADD8E6;
}
body {color: #2554C7;}
h1 {color: #15317E;}
h2 {color: #15317E}
table {background-color: #663399}
table {color: white}
footer{color: black}