nav {background-color: #ffe6e6;
}
nav {color: black;
}
body {background-color: #ff3300;
}
body {color: #2554C7;}
h1 {color: green;}
h1{background-color:#ffe6e6;}
h2 {color: green;}
h2{background-color: #ffe6e6}
p{background-color: #9ACD32}
p{color: black}
table {color: white}
table {background-color: #DB7093}
footer{color: white}